<header>
	<%= render "new_form" %>
</header>

<div class="container">
	<!-- Uncompleted tasks -->
	<ul class="todo" id="todo"></ul>

	<!-- Completed tasks -->
	<ul class="todo" id="completed"></ul>
</div>